.input{
    margin-bottom: 1rem;
    height: 50px;
    border: 0;
    font-size: 1.3rem;
    background-color: rgba(240, 243, 246, 0.54);
    color: var(--black);
    padding: 1rem;
    border: none;
}

.textarea{
    margin-bottom: 1rem;
    height: 50px;
    border: 0;

    background-color: rgba(240, 243, 246, 0.54);
    color: var(--black);
    padding: 1rem;
    border: none;
}

.input::placeholder{
    color: var(--light-black);
    font-size: 1.3rem;
}

.textarea::placeholder{
    color: var(--light-black);
}