.containerCenter{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue-gray);
}

.login{
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 00.5rem;
    margin-top: -200px;
   

    form{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 10px;
        margin-left: 30px;
    }

    form input{
        width: 100%;
        height: 60px;

    }

    form textarea{
        width: 100%;
        min-height: 80px;
        margin-bottom: 1rem;
        border: 0;
        background-color: rgba(240, 243, 246, 0.54);
        color: var(--black);
        padding: 1rem;
        border: none;
        font-size: 1.3rem;
    }

    form textarea::placeholder{
        color: var(--light-black);
        font-size: 1.3rem;
    }

    form select{
        width:45%;
        margin-bottom: 1rem;
        height: 60px;
        border: 0;
        background-color: rgba(240, 243, 246, 0.54);
        color: var(--light-black);
        padding: 1rem;
        border: none;
        font-size: 1.3rem;
    }

    form select::placeholder{
        color: var(--light-black);
    }

    h1{
        color: #685b44;
        padding-bottom: 40px;
        text-align: center;
        font-size: 2.6rem;
    }

    label{
        color: #555859;
        padding-bottom: 10px;
        align-items: flex-start;
        justify-content: left;
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    button{
        height: 60px;
        font-size: 1.8rem;
        width: 50%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}


.text{
    margin-top: 1.5rem;
    color: var(--light-black);
    cursor: pointer;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
}
.column2{
    display: flex;
    flex-direction: column;
    width: 40%;
   

input{
    width: 100%;
}

}

