.container{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
        cursor: pointer;
    }
    

   
}

.central{

    a{
        padding: 15px;
        color: #6294B2;
    }
    a:hover{
        color: rgba(255, 152, 95, 0.74);
    }

}
.firstRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    a{
        color: #6294B2;
    }

    a:hover{
        color: rgba(255, 152, 95, 0.74);
    }

}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 152, 95, 0.8);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
}

.circle:hover{
    background-color: rgba(255, 152, 95, 1);
}

