.containerCenter{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue-gray);
    background-image: url(../public/cloud-solid-svg.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.login{
    width: 1000px;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 15px;
    background-color: var(--white);
    border-radius: 00.5rem;
    margin-top: 100px;

    form{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form button{
        height: 55px;
        font-size: 1.8rem;
        width: 30%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    form input{
        width: 90%;
        height: 65px;
    }

    h1{
        color: #534730;
        font-size: 2.8rem;
        padding: 10px;
        padding-bottom: 40px;
    }

    label{
        color: #555859;
        padding: 15px;
        margin-right: 80%;
        font-size: 1.3rem;
    }
}

.text{
    margin-top: 1.5rem;
    color: var(--light-black);
    cursor: pointer;
    font-size: 1.2rem;
}



