@font-face {
    font-family: 'Outfit';
    src: local('Outfit'), url(../src/fonts/Outfit-Regular.ttf) format('ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }



.containerCenter{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue-gray);
    background-image: url(../public/cloud-solid-svg.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position:  center;
}

.login{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1.5rem;
    background-color: var(--white);
    border-radius: 00.5rem;
    margin-top: 75px;

    form{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form button{
        height: 60px;
        font-size: 1.8rem;
        width: 40%;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    form input{
        width: 100%;
        height: 60px;
    }

    h1{
        color: #534730;
        padding: 10px;
        padding-bottom: 20px;
        width: 50%;
        font-size: 2.5rem;
    }

    label{
        color: #1b1c1d;
        padding: 15px;
        width: 100%;
        font-size: 1.4rem;
        
    }
}
.row{
    width: 100%;
}
.password{
    width: 50%;
   
    input{
        margin-top: 12px;
    }
    
    label{
        margin-bottom: 5px;
    }
}

.text{
    margin-top: 1.5rem;
    color: var(--light-black);
    cursor: pointer;
}

